[Desktop Entry]
Name=Trotid Shell
Comment=Quickshell desktop shell with scrolling layout
Exec=quickshell -c mrtrotid-shell
Type=Application
DesktopNames=Hyprland
